
@{
    ViewBag.Title = "Lista_de_tareas";
}

<ul class="main-ul">
    <li>
        Carpeta 1
        <ul>
            <li>tarea 1</li>
            <li>Tarea 2</li>
            <li>Tarea 3</li>
        </ul>

    </li>
    <li>Carpeta 2</li>
    <li>Carpeta 3</li>
    <li>Carpeta 4</li>
</ul>

