
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";

}

<div class="container body-content">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title inline-block">MYFOLDERING.COM</h4>
                    <h4 class="modal-title section-title pull-right inline-block">LOGIN</h4>
                </div>
                <div class="modal-body">
                    <div class="slider-checkout">
                        <ul id="slider" class="normal">
                            <li>
                                @Html.Partial("_FormLogin")
                            </li>
                            <li>
                               @Html.Partial("_FormRegistro")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="overlap">

</div>