@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";

}

<div class="container body-content">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title inline-block">MYFOLDERING.COM</h4>
                    <h4 class="modal-title section-title pull-right inline-block">LOGIN</h4>
                </div>
                <div class="modal-body">
                    <div class="slider-checkout">
                        <ul id="slider"class="normal">
                            <li>
                                <form class="">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-center input-big" id="user" name="user" value="" placeholder="Ingrese su email" /><br />
                                        <div class="form-error" id="login-email-error">Ingrese un email valido</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control input-center input-big" id="login-pass" name="pass" placeholder="Ingrese su password" value="" /><br />
                                        <div class="form-error" id="login-pass-error">Contraseña invalida</div>
                                    </div>

                                    <a class="btn btn-primary button-form-modal" onclick="validarFormularioDeLoginDeUsuario();">Ingresar</a>
                                     <br />
                                    <div class="text-center">
                                        <a class="ir-slide-1">
                                            <h5>¿Todavía no estas registrado?</h5>
                                        </a>
                                    </div>

                                </form>
                            </li>
                            <li>
                                <form class="">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-center" id="nombre" name="nombre" value="" placeholder="Ingrese su nombre" />
                                        <div class="form-error" id="nombre-error">Ingrese un nombre de usuario valido</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control input-center" name="apellido" id="apellido" placeholder="Ingrese su apellido" value="" />
                                        <div class="form-error" id="apellido-error">Ingrese un apellido valido</div>

                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control input-center" name="email" id="email" placeholder="ejemplo@email.com" value="" />
                                        <div class="form-error" id="email-error">ejemplo@email.com</div>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control input-center" name="pass" id="pass" placeholder="EJ: Carlos2058" value="" />
                                        <div class="form-error" id="pass-error">MAX : 20 caracteres ,mayuscula y numero obligatorio</div>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control input-center" name="confirm-pass" id="confirm-pass" placeholder="Repita su password" value="" />
                                        <div class="form-error" id="pass-confirm-error">Ambas contraseñas no coinciden</div>
                                    </div>
                                    <div id="capatcha">
                                        <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" style="margin-left:auto;margin-right:auto;display:block;"></div>
                                    </div>
                                        <div class="form-error" id="captcha-error">Valide el captcha</div>

                                        <a type="button" class="btn btn-primary button-form-modal" onclick="validarFormularioDeRegistroUsuario();">Ingresar</a>
                                        <br />
                                        <div class="text-center">
                                            <a class="ir-slide-2">
                                                <h5>Volver a login</h5>
                                            </a>
                                        </div>

</form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="overlap">

</div>