@model Tarea
@{
    ViewBag.Title = "MisTareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis Tareas</h2>
@Html.ActionLink("Ver tareas completas", "ListarTareasCompletadas", "Tarea")
<br />
@Html.ActionLink("Ver tareas incompletas", "ListarTareasIncompletas", "Tarea")

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha de cracion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tarea tarea in ViewBag.tareas)
    {
        <tr>
            <td>@Html.ActionLink(tarea.Nombre, "MostrarTarea", "Tarea", new { idCarpeta = tarea.IdCarpeta }, null)</td>
            <td>@tarea.FechaCreacion</td>

        </tr>
}
    </tbody>
</table>

   
</ul>
