@model Tarea
@{
    ViewBag.Title = "MostrarTarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.estado</h1>
<h2>MostrarTarea</h2>
<table>
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Detalle
            </th>
            <th>
                Eliminar
            </th>

        </tr>
    </thead>
    <tbody>

        
        @foreach (Tarea tarea in ViewBag.tareas)
        {
            <tr>
                <td>
                    @tarea.Nombre
                </td>
                <td>
                    @Html.ActionLink("Ver","DetalleTarea", "Tarea",new { idTarea = tarea.IdTarea},null)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "EliminarTarea", "Tarea", new { idTarea = tarea.IdTarea },null)
                </td>
            </tr>
        }
        
    </tbody>
</table>


